@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@property --wood-color{
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(60, 42, 41);
}
@property --wood-color-translucid{
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(60, 42, 41, 0.8);
}
@property --light-wood-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #8C613B;
}
@property --dark-leaves-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #535925;
}
@property --leaves-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #63732C;
}
@property --light-leaves-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #87A646;
}

*{
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    background-image: url("../assets/img/forest.jpg");
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    overflow: clip;
}

.highlighted-text{
    color: white;
    font-size: 28px;
    margin-bottom: .5rem;
}

img, picture, svg{
    width: 100%;
    height: auto;
    vertical-align: middle;
    min-width: 0px;
    min-height: 0px;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo>*{
    flex-basis: 30%;
}


.general-container{
    position: absolute;
    inset: 0;
    margin: 5%;
    z-index: -1;
    display: flex;
    color: #EBDEC2;
}

.general-container>*{
    transition: visibility ease 2s, opacity ease 2s;
}

.intro-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    /* color: #EBDEC2; */
}
.intro-container>.btniL{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.btniL>*{
    flex-basis: 40%;
    flex-grow: 1;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

button{
    text-transform: uppercase;
    padding: .5rem;
    font-size: inherit;
    transition: background-color ease 0.3s;
}

button.primary{
    border: #aa2409 solid 1px;
    background-color: rgba(170, 36, 9, .4);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F8B700;
}
button.primary:hover{
    background-color: rgba(170, 36, 9, .7);
}

button.secondary{
    border: #F8B700 solid 1px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F8B700;
}
button.secondary:hover{
    color: #ffe294;
    border-color: #ffd563;
    background-color: rgba(199, 103, 0, 0.7);;
}

button.icon{
    width: 50px;
    height: 50px;
    border: #F8B700 solid 1px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
    color: #F8B700;
}
button.icon:hover{
    color: #ffe294;
    border-color: #ffd563;
    background-color: rgba(199, 103, 0, 0.7);;
}

button.music{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast{
    background: var(--wood-color) !important;
}

.controlBoard{
    background-color: rgba(0, 0, 0, 0.3);
    flex-basis: 40%;
    flex-grow: 1;
    padding: 1rem;
    height: fit-content;
}

#WKey{
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    border: solid 3px black;
    color: black;
    transition: background-color ease 0.2s, color ease 0.2s, border ease 0.2s;
}
#WKey:hover{
    background-color: black;
    border: solid 3px white;
    color: white;
}
#WKey.active{
    background-color: black;
    border: solid 3px white;
    color: white;
}

#SKey{
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    border: solid 3px black;
    color: black;
    transition: background-color ease 0.2s, color ease 0.2s, border ease 0.2s;
}
#SKey:hover{
    background-color: black;
    border: solid 3px white;
    color: white;
}
#SKey.active{
    background-color: black;
    border: solid 3px white;
    color: white;
}

#AKey{
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    border: solid 3px black;
    color: black;
    transition: background-color ease 0.2s, color ease 0.2s, border ease 0.2s;
}
#AKey:hover{
    background-color: black;
    border: solid 3px white;
    color: white;
}
#AKey.active{
    background-color: black;
    border: solid 3px white;
    color: white;
}

#DKey{
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    border: solid 3px black;
    color: black;
    transition: background-color ease 0.2s, color ease 0.2s, border ease 0.2s;
}
#DKey:hover{
    background-color: black;
    border: solid 3px white;
    color: white;
}
#DKey.active{
    background-color: black;
    border: solid 3px white;
    color: white;
}

#EKey{
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    border: solid 3px black;
    color: black;
    transition: background-color ease 0.2s, color ease 0.2s, border ease 0.2s;
}
#EKey:hover{
    background-color: black;
    border: solid 3px white;
    color: white;
}
#EKey.active{
    background-color: black;
    border: solid 3px white;
    color: white;
}

#status-displayer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: .5rem;
    background-color: lightslategray;
    border-radius: 10px;
    gap: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

#battle-log{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

#displayed-text{
    font-family: monospace;
    margin-bottom: 1rem;
}

#buttons-onPage{
    display: flex;
    gap: 2rem;
    text-align: center;
    p{
        margin-bottom: 1rem;
    }
}

.pickup-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.move-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.top-move-buttons, .bottom-move-buttons{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#battle-log{
    font-family: monospace;
    white-space:pre-wrap;
    margin-bottom:10px;
    margin-top:10px;
    max-height: 200px;
    overflow-y: auto;
}

#puntuaciones{
    max-height: 80vh;
    overflow-y: auto;
    padding: 2rem;
}

.score-card{
    border: var(--light-leaves-color) solid 2px;
    margin-bottom: 1rem;
    background-color: var(--wood-color-translucid);
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntos{
    padding: 1rem;
    background-color: #F8B700;
    color: black;
    text-align: center;
}

.nombre{
    flex-grow: 1;
    padding: 1rem;
}

input[type="text"]{
    padding: .5rem;
    width: 100%;
}

label[for="jugador"]{
    font-size: 8px;
    margin-bottom: .5rem;
    display: inline-block;
}

.finalScore{
    text-align: center;
    font-size: 30vh;
}