@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@property --wood-color{
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(60, 42, 41);
}
@property --wood-color-translucid{
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(60, 42, 41, 0.8);
}
@property --light-wood-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #8C613B;
}
@property --dark-leaves-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #535925;
}
@property --leaves-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #63732C;
}
@property --light-leaves-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #87A646;
}

*{
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: #EBDEC2;
}

body{
    background-image: url("../assets/img/forest.jpg");
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    overflow: clip;
}

.highlighted-text{
    color: white;
    font-size: 28px;
}

img, picture, svg{
    width: 100%;
    height: auto;
    vertical-align: middle;
    min-width: 0px;
    min-height: 0px;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo>*{
    flex-basis: 30%;
}


.general-container{
    position: absolute;
    inset: 0;
    margin: 5%;
    z-index: -1;
}

.general-container>*{
    transition: visibility ease 2s, opacity ease 2s;
}

.intro-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}
.intro-container>.btniL{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.btniL>*{
    flex-basis: 40%;
    flex-grow: 1;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

button{
    text-transform: uppercase;
    padding: .5rem;
    font-size: inherit;
    transition: background-color ease 0.3s;
}

button.primary{
    border: #aa2409 solid 1px;
    background-color: rgba(170, 36, 9, .4);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F8B700;
}
button.primary:hover{
    background-color: rgba(170, 36, 9, .7);
}

button.secondary{
    border: #F8B700 solid 1px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F8B700;
}
button.secondary:hover{
    color: #ffe294;
    border-color: #ffd563;
    background-color: rgba(199, 103, 0, 0.7);;
}

button.icon{
    width: 50px;
    height: 50px;
    border: #F8B700 solid 1px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
    color: #F8B700;
}
button.icon:hover{
    color: #ffe294;
    border-color: #ffd563;
    background-color: rgba(199, 103, 0, 0.7);;
}

button.music{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

